*{
   margin: 0;
   padding: 0; 
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow:1rem 1rem 1rem rgba(0,0,0,0.3) ;
    border: none;
    font-size: 8vmin;
    color: #b0413e;   
    background-color: #ffffc7;
}

#reset{
    background-color: #000;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
}

#new-game{
    background-color: #000;
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.25rem;
    border: none;
    margin-bottom: 5vmin;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;;
}

.hide{
    display: none;
}